.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.webstudio-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.blue-web {
  color: #2196f3;
}
.nav-list {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-mail,
.header-tel {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.nav-agency:visited,
.nav-portfolio:visited,
.nav-contact:visited {
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button {
  cursor: pointer;
}
.header-block {
  background-color: #2f303a;
}
.main-header-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.asset {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.asset-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-header {
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-block {
  background: #f5f4fa;
}
.team-member {
  background: #ffffff;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-job {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background: #2f303a;
}
.webstudio-link-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-map-link {
  color: #ffffff;
}
.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}
.p-project-section {
  border: 1px solid #eeeeee;
}
.p-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.p-project-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
